<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  </head>
  <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <header>
      <div class="container">
        <h1 class="logo">Oguz is coming</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Anasayfa</a></li>
            <li><a href="{{ url_for('about') }}">Hakkımda</a></li>
            <li><a href="{{ url_for('contact') }}">İletişim</a></li>
            <li><a href="{{ url_for('userAdd') }}">Kullanıcı Ekle</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
